@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background-color: #fff;
}

a:link {
  color: #444;
}

a:visited {
  color: #444;
}

a:hover {
  color: #555;
}

a:active {
  color: #555;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.flexContainer {
  display: flex;

  -webkit-flex: 1px;
  -moz-flex: 1px;
  -ms-flex: 1px;
  -o-flex: 1px;
  flex: 1px;
}

header,
nav,
main,
contents,
article,
aside,
slide {
  display: block;
}
/* 인터넷익스플로어에서
동일한 결과 출력을 위한 설정 */
